html,body {
    margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
    display: block;
    background-color: #F2DC99;
}


/*------------- Global Classes -------------*/

a {
    text-decoration: none;
}
.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

ul {
    list-style-type: none;
}

/*------ x ------ Global Classes ------ x ------*/

/*------------- navbar -------------*/

.nav {
    background: #F2DC99;
    padding: 0 2rem;
    height: 0rem;
    min-height: 20vh;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-link a {
    color: #726FBF;
}

.nav .nav-menu {
    justify-content: space-between;
}

.nav .toggle-collapse {
    position:absolute;
    top: 0%;
    width: 90%;
    cursor: pointer;
    display: none;
}

.nav .toggle-collapse .toggle-icons {
    display: flex;
    justify-content: flex-end;
    padding: 2rem;
}

.nav .toggle-collapse .toggle-icons i {
    font-size: 2.8rem;
    color: #726FBF;
}

.collapse {
    height: 20rem;
}

.nav .nav-items {
    display: flex;
    margin: 0;
}

.nav .nav-items .nav-link {
    padding: 4.6rem 2rem;
    font-size: 1.1rem;
    position: relative;
}

nav img {
    padding-top: 7%;
    padding-left: 4%;
    justify-content: space-between;
    align-items: center;
    height: 9rem;
    min-height: 10vh;
    overflow: hidden;
}


/*------ x ------ navbar ------ x ------*/

/*        viewport less then or equal to 375px       */

@media only screen and (max-width:375px) {
    .nav .nav-menu, .nav .nav-items {
        flex-direction: column;
    }
    .nav {
        background: #FEFEFE;
    }
    html {
        background: #FEFEFE;
    }
    .nav .toggle-collapse {
        display: initial;
    }
}


/*    x      viewport less then or equal to 375px   x    */