html,body {
    margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
    display: block;
    background-color: #F2DC99;
}


/*------------- Global Classes -------------*/

a {
    text-decoration: none;
}
.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/*------ x ------ Global Classes ------ x ------*/

/*------------- navbar -------------*/

.nav {
    background: #F2DC99;
    padding: 0 2rem;
    height: 0rem;
    min-height: 40vh;
    font-family: Arial, Helvetica, sans-serif;
}

.nav .nav-menu {
    justify-content: space-between;
}

.nav .nav-items {
    list-style-type: none;
    display: flex;
    margin: 0;
}

nav img {
    padding-top: 7%;
    padding-left: 4%;
    justify-content: space-between;
    align-items: center;
    height: 9rem;
    min-height: 10vh;
    overflow: hidden;
}


/*------ x ------ navbar ------ x ------*/

/*--------------- Burger menu ---------------*/

/*------- x ------- Burger menu ------- x -------*/